body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #484848;
    font-size: 14px;
}

header, footer {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
}

.border-bottom {
    border-bottom: 1px solid #CCCCCC;
}

.border-top {
    border-top: 1px solid #CCCCCC;
}

